{% extends "::base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}"/>
{% endblock %}

{% block title 'Administration' %}
{% block body %}

    <div class="header_menu">
        {% block header_menu %}
            {{ knp_menu_render('HSPAdminBundle:Builder:mainMenu') }}
            {% if app.user %}
                <div class="userData">{{ app.user.username }}
                    <div class="userDetails">
                        {% for role in app.user.roles %}
                            {{ role }}
                        {% endfor %}
                        <div class="specialMenu">
                            <hr/>
                            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1 class="pageHeadline">{% block content_header %}
        {% endblock %}</h1>

    <div class="block">
        {% block content %}{% endblock %}
    </div>

    <div class="pageFooter">
        <div class="floatRight">
            &copy; ipv6Watch 2013<br/>
            <a href="http://github.com/ipv6watch/ipv6watch" target="_blank">http://github.com/ipv6watch/ipv6watch</a>
        </div>
        <div class="floatLeft">
            <b>Licences:</b><br/>
            <a href="http://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">GPL</a><br/>
            <a href="http://symfony.com/doc/current/contributing/code/license.html" target="_blank">Symfony/MIT</a>
        </div>
    </div>

{% endblock %}
