{% extends "HSPPageBundle::baselayout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
{% endblock %}

{% block title 'Administration' %}
{% block body %}

<div class="header_menu">
{% block header_menu %}
{{ knp_menu_render('HSPAdminBundle:Builder:mainMenu') }}
{% if app.user %}
<div class="userData">{{ app.user.username }}
	<div class="userDetails">
		{% for role in app.user.roles %}
			{{ role }}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}
</div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <h1 class="pageHeadline">{% block content_header %}
    {% endblock %}</h1>

    <div class="block">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
