{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration - Leases" %}

{% block content_header 'Administration - Leases' %}
{% block content %}
    <div class="filterForm">
        {{ form(form) }}
    </div>
    <div class="userListTable">
        <table class="userListTable">
            <tr>
                <th>IP(s)</th>
                <th>MAC</th>
                <th>First seen<br/>Last seen</th>
                <th>Routername<br/>RouterFQDN<br/>Interface</th>
            </tr>

            {% for lease in leases %}
                <tr class="{{ cycle(['odd','even'], loop.index0) }}">
                    <td>
                        {{ lease.ipId.ipv4Address }}{{ lease.ipId.ipv6Address }}
                    </td>
                    <td>
                        {{ lease.ipId.macAddress }}
                    </td>
                    <td>
                        {{ lease.ipId.added|date('Y-m-d H:i:s') }}<br/>
                        {{ lease.ipId.lastseen|date('Y-m-d H:i:s') }}
                    </td>
                    <td>
                        {{ lease.routerId.routerName }}<br/>
                        {{ lease.routerId.fqdn }}<br/>
                        {{ lease.interface }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
