{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration - Log" %}

{% block content_header 'Administration - Log' %}
{% block content %}
    <div class="userListTable">
        <table class="userListTable">
            <tr>
                <th>Time</th>
                <th>Router</th>
                <th>Logentry</th>
                <th>Cronrun</th>
            </tr>

            {% for logentry in logentries %}
                <tr class="{{ cycle(['odd','even'], loop.index0) }}">
                    <td>
                        {{ logentry.time | date('Y-m-d H:m:s') }}
                    </td>
                    <td>
                    {% if logentry.routerId is not null %}
                            {{ logentry.routerId.routerName }}
                        {% endif %}
                    </td>
                    <td>
                        {% if logentry.logentry is not null %}
                            {{ logentry.logentry }}
                        {% endif %}
                    </td>
                    <td>
                        {% if logentry.cronid is not null %}
                            <span style="cursor: pointer"
                                  title="Startime: {{ logentry.cronid.starttime|date('Y/m/d - h:m:s') }} - Endtime: {{ logentry.cronid.endtime|date('Y/m/d - h:m:s') }} - Runtime: {{ logentry.cronid.runtime }}s">{{ logentry.cronid.id }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div style="padding: 10px 5px 5px 5px;">
            <!-- TODO: remove this, add filters -->
            <b>Notice:</b><br/>
            Empty routernames contain global logging events.<br/>
            This Log shows only the last 50 logentries.<br>
            You can hover over the id of the cronrun to get detailed information about it.
        </div>
    </div>
{% endblock %}
