{% extends "HSPPageBundle::layout.html.twig" %}

{% block title "Administration" %}

{% block content_header 'Administration - Routers' %}
{% block content %}
    <div class="userListTable">
        <table class="userListTable">
            <tr>
                <th>Status</th>
                <th>Router</th>
                <th>IP/FQDN</th>
                <th>Actions</th>
            </tr>

            {% for router in routers %}
                <tr class="{{ cycle(['odd','even'], loop.index0) }}">
                    <td>{{ router.getActive() }}</td>
                    <td>{{ router.getRouterName() }}</td>
                    <td>{{ router.getfqdn() }}</td>
                    <td>
                        <a href="{{ path('hsp_admin_router_delete',{'routerid':router.getid()}) }}">delete</a><br/>
                        <a href="{{ path('hsp_admin_router_edit', {'routerid':router.getid()}) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
